<footer class = "footer">
  <div class = "datos float-left">
    <h6><i class="fas fa-map-marker-alt"></i> El Canelo 2548, Puente alto</h6>
    <h6><i class="fas fa-phone"></i> +56968246589</h6>    
    <h6><i class="fas fa-envelope"></i> escuelacanelo@gmail.com</h6>
  </div>

  <!--<div class = "nav-footer clearfix">
    <ul class = "lista ">
      <li>
        <a href = "#">Inicio</a>
      </li>
      <li>
        <a href = "#">Noticias</a>
      </li>
      <li>
        <a href = "#">Galeria</a>
      </li>
      <li>
        <a href = "#">Documentos</a>
      </li>
      <li>
        <a href = "#">Sobre Nosotros</a>
      </li>
      <li>
        <a href = "#">Contacto</a>
      </li>
    </ul>
  </div>
</footer>-->

<div class = "float-right">
    <nav class="nav lista">
        <a class="nav-link" href="#">Inicio</a>
        <a class="nav-link" href="#">Noticias</a>
        <a class="nav-link" href="#">Documentos</a>
        <a class="nav-link" href="#">Sobre Nosotros</a>
        <a class="nav-link" href="#">Contacto</a>
      </nav>  
</div>